* 
{
    margin : 0;
    padding : 0;
    box-sizing :border-box;
    color : var(--dark-color);
}

:root{
    --light-color : #EFE4D2;
    --dark-color : #954C2E;
}

body {
    background-color: #EFE4D2 ;
    color : var(--dark-color);
}
.navbar {
    height : 80px;
    width : 100%;
    background-color: var(--dark-color);
    display : flex;
    justify-content: space-between;
    align-items: center;
    

}

.navbar .left a {
    display : flex;
    justify-content: flex-start;
}

.navbar a,i {
    padding : 10px;
    text-decoration : none;
    color : var(--light-color);
    font-size: 20px;
    transition : all 0.5s ease-in-out;
}

.navbar a:hover
 {
    color : #131D4F;
}
 
.navbar i:hover
 {
    color : #131D4F;
}


.container {
    display : flex;
    justify-content: space-between;
    align-items : center;
}


.container img {
        border-radius : 50%;
}

.hero-section {
    height : 500px;
    font-size: 35px;
    color : var(--dark-color);
    padding : 20px;
}
 
.hero-section h2 {
    margin-top : 150px;
    transition : all 0.5s ease-in-out;
}

.hero-section h2:hover {
    font-size: 75px;
}
.hero-section p {
    transition : all 0.5s ease-in-out;
}
.hero-section p:hover {
    font-size: 45px;
}
.hero-section button {
   border : 2px solid var(--dark-color);
   padding : 15px;
   font-size: 20px;
   font-weight : bolder;
   background-color: var(--dark-color);
   color : var(--light-color);
   border-radius : 8px;
   cursor : pointer;
   margin-top : 5px;
   transition : all 0.5s ease-in-out;
}

.hero-section button:hover {
    background-color: var(--light-color);
    color : var(--dark-color);
}


.about {
    color : var(--dark-color);
    font-size: 25px;
    font-weight :700;
    display : flex;
    justify-content : center;
    align-items : center;
}
.about p {
    font-weight: lighter;
}


.about-sec h2 {
    text-align : center;
    font-size : 45px;
    
    transition : all 0.5s ease-in-out;
}

.about-sec h2:hover {
    font-size : 75px;
   
}



.about img {
    border-radius : 50%;
    margin-right : 30px;
    margin-top : 30px;
}

.about p {
    text-align : flex;
}

.skills-section h2 {
    text-align : center;
    font-size: 45px;
   
    transition : all 0.5s ease-in-out;
    margin-bottom : 20px;

}

.skills-section h2:hover {
    font-size: 75px;
}

.skills-section i {
    color : var(--dark-color);

}
.skills-section i:hover {
    font-size : 33px;

}


.icons {
    display : flex;
    justify-content : space-between;    
}

/* contact-section */
.contact-sec {
  padding: 60px 20px;
  text-align: center;
}

.contact-sec h2 {
  font-size: 42px;
  margin-bottom: 30px;
  transition : all 0.5s ease-in-out;
}
.contact-sec h2:hover {
  font-size: 75px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
}



.contact-container .texts {
  
  font-size: 20px;
  text-align: center;
}

.form-container {
  flex: 1 1 45%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form label {
  font-weight: 600;
  text-align: left;
  

}

form input,
form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  transition: border 0.3s ease;
margin-bottom: 10px;
}

form input:focus,
form textarea:focus {
  border-color: var(--dark-color);
  outline: none;
}

form button {
  padding: 12px 20px;
  font-size: 18px;
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 2px solid var(--dark-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: var(--light-color);
  color : var(--dark-color);
}


footer {
   height : 100px;
    font-size: 18px;
    border : 2px solid var(--dark-color);
    display : flex;
    justify-content : center;
    align-items : flex-end;
}